:root {
  --primary-color: rgb(15, 134, 232);
  --text-color: white;
  --hover-background: rgba(255, 255, 255, 0.1);
  --link-color: white;
  --link-hover-color: #e0e0e0;
  --navbar-height: 80px; /* Altura fija del navbar */
}

.navbar {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Estilo del título */
.navbar-title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 70px; /* Espacio entre el título y los enlaces */
}

/* Enlaces de navegación */
.nav-link {
  color: var(--link-color);
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.nav-link:hover {
  background-color: var(--hover-background);
  color: var(--link-hover-color);
}

/* Efecto de subrayado */
.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--link-hover-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  margin-top: 5px;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* Estilos para el botón de inicio de sesión y cierre de sesión */
.btn-outline-light {
  border-color: white;
}

.nav {
  margin-left: auto; /* Alinear los elementos a la derecha */
}

section {
  padding: 20px; /* Espaciado alrededor de la sección de contenido */
  overflow-y: auto; /* Habilita el desplazamiento solo en el contenido */
  flex: 1; /* Asegura que esta sección ocupe el espacio disponible */
}

/* no se que esta sidebar */
/* Estilos para la sidebar */
.sidebar {
  position: fixed;
  left: -250px; /* Fuera de la vista inicialmente */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333; /* Color de fondo de la sidebar */
  transition: left 0.3s; /* Suave animación para abrir/cerrar */
  z-index: 1000;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #fff; /* Color del texto en la sidebar */
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Mostrar la sidebar */
.sidebar.open {
  left: 0; /* Mostrar la sidebar */
}
