.inicio {
  text-align: center; /* Centra el texto dentro del div */
  margin: 100px; /* Agrega un margen alrededor del div */
  /*background-color: rgb(198, 203, 211);*/
}
.inicio h1 {
  color: #367bb9; /* Cambia 'blue' por el color que desees */
}

.header {
  display: flex; /* Usa flexbox para alinear texto e imagen */
  align-items: center; /* Alinea verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.images {
  margin-left: 20px; /* Espacio entre el texto y la imagen */
}

.images img {
  max-width: 200px; /* Tamaño máximo de la imagen */
  height: auto; /* Mantiene la relación de aspecto */
}
